<div class="search_page">
    <div id="snav">
         <h1>My Rental</h1>
         <div class="close">
           <i class="ri-close-line"></i>
         </div>
    </div>
    <div class="sform">
       <!-- <form id="searchform" method="post">
           <input id="search" type="text" size="30" placeholder="Search a query here?" />
       </form> -->
       <div class="search">
          <input type="text" name="" placeholder="Search for cars and bikes" id="se">
          <button type="button"><i class="ri-corner-down-right-line"></i></button>
       </div>
        <div class="line">
             <div class="l"></div>
        </div>
        
    <!-- <div id="searchResult">
    </div> -->

    </div>
    <div id="cent">
   </div>
    <div class="search">
       <i class="uil uil-search"></i>
       
   </div>

    <div id="card11" class="hover_card1">
         <img src="https://images.unsplash.com/photo-1570733577524-3a047079e80d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8bWVyY2VkZXN8ZW58MHx8MHx8fDA%3D&w=1000&q=80" alt="">
    </div>
    <div id="card12" class="hover_card1">
         <img src="https://images.unsplash.com/photo-1605556816125-d752c226247b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fG1lcmNlZGVzfGVufDB8fDB8fHww&w=1000&q=80" alt="">
    </div>
    <div id="card21" class="hover_card2">
         <img src="https://i.pinimg.com/originals/89/d1/0a/89d10a0f8a59bc66dee8b1298a176e55.jpg" alt="">
    </div>
    <div id="card22" class="hover_card2">
         <img src="https://static.toiimg.com/photo/92856988.cms" alt="">
    </div>
    <div id="card23" class="hover_card2">
         <img src="https://wallpaperaccess.com/full/1268178.jpg" alt="">
    </div>

    <div id="card31" class="hover_card3">
         <img src="https://cdn.wallpapersafari.com/69/96/FI3WqU.jpg" alt="">
    </div>
    <div id="card32" class="hover_card3">
        <img src="https://imgcdn.zigwheels.co.th/large/gallery/exterior/4/1179/bmw-5-series-touring-front-angle-low-view-218013.jpg" alt="">
    </div>

    <div id="card1" class="hover_card">
         <img src="https://images.unsplash.com/photo-1614826380482-584247564bde?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Ym13JTIwbW90b3JjeWNsZXxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80" alt="">
    </div>
    <div id="card2" class="hover_card">
         <img src="https://c4.wallpaperflare.com/wallpaper/598/272/924/suzuki-2017-swift-wallpaper-preview.jpg" alt="">
    </div>
    <div id="card3" class="hover_card">
        <img src="https://images.livemint.com/img/2020/02/06/1600x900/Screenshot_(14)_1580973385912_1580979026179.png" alt="">
    </div>
    <div id="card4" class="hover_card">
         <img src="https://www.drivespark.com/img/2021/05/royal-enfield-sultan-custom-650-twin-1-1620659598.jpg" alt="">
    </div>
</div>