
@font-face{
    src: url("../fonts/Manus.ttf");
    font-family: "manus";
    font-weight: 500;
}
.prfimg{
  width: 40px;
  height:40px;
  border-radius: 50%;
  background-color: red;
  overflow: hidden;
  margin-right: 20px;
}

.prfimg img{
  width: 100%;
  height:100%;
 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
/* body::-webkit-scrollbar{
    display: none;
} */

#nav{
  z-index: 9999999999999;
}
#main{
    width: 100%;
    overflow-x: hidden;
    opacity: 0;
}


/* pg1 */

#main::-webkit-scrollbar{
  display: none;
}
.pg1{
  position: fixed;
  top: 0%;
  z-index: -1;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    /* transform-origin: top bottom ;    */
    /* background-color: red; */
    margin: initial;
    background-color: #fffefe;
}
.pg1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* margin-top: -30px; */
}
/* pg1 */

  /* .overlay */

.overlay{
      overflow: hidden;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      height: 100vh;
      width: 100%;
      background-color: transparent;
  }
  .overlay .btm_content{
    display: flex;
    width: 100%;
    height: 50%;
  }
  .overlay .content_txt{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding-bottom: 5vw;
    width: 60%;
    height: 100%;
    /* background-color: thistle; */
    padding-left: 3vw;
    padding-top: 4vw;
  }
   .content_txt .h1{
    height: fit-content;
    overflow: hidden;
    width: 100%;
   }
   .content_txt h1{
      /* transform: translateY(100%); */
      font-size: 3.5vw;
      font-family: Roobert;
      color: #fff;
      /* line-height: 1; */
      font-weight: 500;
      /* font-size: 2rem; */
   }
  .overlay .content_vid{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 40%;
    height: 90%;
    padding-right: 40px;
    /* padding-bottom: 20px; */
    /* opacity: 0; */
  }
  .overlay .video_div{
    width: 80%;
    position: relative;
    height: 80%;
    background-color: #000;
    border-radius: 20px;
    opacity: 0;
  }
  .overlay .video_div .plybtn{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 10%;
    right: 7%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #000;
    overflow: hidden;
    background-color: #fff;
  }
  .plybtn .hover_ply{
    position: absolute;
    width: 60px;
    background-color: #f47a44;
   border-radius: 50%;
   top: -100%;
   left: -50%;
    height: 60px;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
  }
  .overlay .video_div .plybtn i{
    color: #000;
    position: relative;
    z-index: 99;
    font-size: 25px;
  }
  .overlay .content_vid .video_div:hover .hover_ply{
    top: 0;
    left: 0;
  }
  .overlay .content_vid .video_div:hover i{
    color: #fff;
  }
  /* .overlay */
/* .pg2 */

.pg2{
    display: flex;
    /* align-items: center;
    justify-content: center; */
    width: 100%;
    height: 100vh;
    background-color: rebeccapurple;
    background-color: #fff;
    position: relative;
    background-color: #fcfaf8;
    background-color: #E6DCDC;
    background-color: #fffefe;
    background-color: #fffefe;
}
.scroll_h{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 30%;
    /* background-color: thistle; */
    position: absolute;
    bottom: 0;
}
.scroll_h h1{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 30%;
    /* color: #000; */
    /* background-color: thistle; */
    letter-spacing: 15px;
    font-size: 18vw;
    /* mix-blend-mode: difference !important; */
    -webkit-text-stroke: 1px #ffffff;
    white-space: nowrap;
    font-weight: 500;
    font-family: gilroy;
    transform: translateX(50%);
    color: #0c1136;

}
.pg2-left{
    width: 30%;
    height: 100%;
    padding-left: 2vw;
    padding-top: 3vw;
    /* background-color: red; */
    border-right: 1px solid #d8d0d0;
}
.pg2-left h1{
    font-family: gilroy;
    font-size: 3vw;
    font-weight: 800;
}
.headings{
    margin-bottom: 2px;
}
.pg2-left h6{
    font-family: gilroy;
    font-size: 1vw;
    font-weight: 500;
    color: #6a6d84;
}

.lmbtn{
  margin-top: 10px;

}
.lmbtn i{
  font-size: 1vw;
  font-family: gilroy;
}
.lmbtn small{
    font-size: 1.2vw;
    font-family: gilroy;
    font-weight: 800;
    letter-spacing: .5px;
  }
  .pg2 .tex-div{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
  }
.pg2-right{
    width: 70%;
    height: 100%;
    /* background-color: rosybrown; */
    background-image: url("https://wallpapercave.com/wp/wp2523648.jpg");
    background-image: url("https://i.pinimg.com/564x/2e/55/9c/2e559cc13c03807a06bab276293193d4.jpg");
    background-image: url("https://i.pinimg.com/564x/c4/21/34/c421347b7c5c82f3aad7b88693984f5a.jpg");
    background-image: url("https://i.pinimg.com/564x/e1/1c/af/e11caf4830d069ae9df288977526c601.jpg");
    background-image: url("https://i.pinimg.com/564x/63/97/f0/6397f0ba6bc81916ac8577d6d12d7e83.jpg");
    background-image: url("https://i.pinimg.com/564x/2b/e4/21/2be42186318de787f85346642f169224.jpg");
    /* background-image: url("https://i.pinimg.com/564x/86/62/9e/86629e72217a843dd47895b2680b9ea2.jpg"); */
    /* background-image: url("https://i.pinimg.com/564x/ae/49/f0/ae49f0d62e5032250a5b135acb768f04.jpg"); */
    background-size: cover;
    background-position: center;
}
.pg2 .pg2l{
    display: flex;
    width: 100%;
    height: 20%;
}
.one{
    width: 50%;
    height:100%;
    background-color:#fff;
    background-color: #E6DCDC;
    background-color: #fffefe;
}
#first{
    background-color: transparent;
}
#second{
    background-color: transparent;
}
.pg2 .pg2c{
    width: 100%;
    height: 50%;
}
.pg2 .pg2r{
    display: flex;
    width: 100%;
    height: 30%;
}

/* .pg2 */

/* .pg3 */

.pg3{
    width: 100%;
    height: 60vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #f0f0f0;
}

.pg3 .mrg{
  width: 100%;
  height: 5vh;
}
.pg3 h1{
  text-align: center !important;
        font-family: gilroy;
        font-size: 7vw;
        font-weight: 500;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
}
/* loader startr */
.loader{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 100vh;
    display: none;
    background-color: #e8e8e8;
}
.center_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
    /* background-color: yellow; */
}
.center_div .top{
    width: 100%;
    height: 11%;
    /* background-color: teal; */
    display: flex;
    align-items: center;
    justify-content: center;overflow: hidden;
    
}

.center_div .top .star{
    width: 5%;
    height: 100%;
    /* background-color: indianred; */
    overflow: hidden !important;
}
.center_div .top .star img{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    transform: translateY(100%);
}
.center_div .bottom{
    width: 100%;
    height: 15%;
    /* background-color: teal; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.center_div .bottom h1{
    font-family: gilroy;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    /* height: 4vw; */
    /* background-color: red; */
    overflow: hidden;
    position: relative;
    z-index: 9999;
    font-family: gilroy;
    font-size: 4vw;
    font-weight: 600;
    text-transform:capitalize;
    /* transform: translateY(150%); */
}

.loader h1 span{
    letter-spacing: 3px;
    display: inline-block;
    transform: translateY(150%);
}

/* loader :end */

/* ::shadow */

#part5 {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #fcfaf8;
  }
  #part5-center-text {
    height: 25vh;
    width: 40%;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #part5-center-text p {
    position: absolute;
    font-style: italic;
    font-size: 20px;
    left: 10%;
    top: 10%;
    color: white;
  }
  #part5-center-text h1 {
    font-size: 90px;
    font-family: gilroy;
    font-weight: 400;
    color: white;
    /* border-bottom: 5px solid white; */
  }
  .hover_line .line{
    width: 100%;
    height: 5px;
    margin-top: -5px;
    background-color: #fff;
  }
  .hover_line{
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    /* background-color: #fff; */
  }
  #part6 {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #fcfaf8;
  }
  #part5-layer {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    height: 100vh;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    background-image: url(https://images.unsplash.com/photo-1618522786784-88c35429eb7a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80);
    background-image: url("https://wallpapercave.com/wp/wp2523648.jpg");
    background-image: url("https://i.pinimg.com/564x/ae/49/f0/ae49f0d62e5032250a5b135acb768f04.jpg");
    background-color: #fcfaf8;
    background-color: #fcfaf8;
  }
  #part6-layer {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 99999;
    background-size: cover;
    background-position: center;
    background-image: url("https://wallpaperaccess.com/full/124130.jpg");
    background-image: url("https://i.pinimg.com/564x/fb/9a/e7/fb9ae7f78c55345f964644777f8052da.jpg");
    background-image: url("https://i.pinimg.com/564x/12/09/d9/1209d95aef36bdec0005f622cf8ad077.jpg");
    background-image: url("https://i.pinimg.com/564x/75/6e/c9/756ec940b58e8eef701397760688748a.jpg");
    background-image: url("https://i.pinimg.com/564x/5d/0f/b1/5d0fb1c0f47b465b8c390d7d3ab76cd2.jpg");
    background-color: brown;
    background-color: #fcfaf8;
  }
  #part7 {
    height: 100vh;
    width: 100%;
    background-color: red;
    background-color: #fcfaf8;
  }
  #part7 #part6-layer {
    height: 120vh;
    background-color: #fcfaf8;
    background-image: url(https://images.unsplash.com/photo-1660805298295-e08398558258?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80);
    background-image: url("https://lightshiprv.com/uploads/products/Test16-2000x1300.jpg");  
    background-image: url("https://i.pinimg.com/564x/c8/f8/21/c8f8217071588cc6223eb2308dd45aec.jpg");
    background-image: url("https://www.hdwallpapers.in/download/bmw_x5_xdrive50e_2023_car_4k_8k_hd_cars-3840x2160.jpg");
    background-image: url("https://stat.overdrive.in/wp-content/odgallery/2019/03/50927_BMW_X7_2019_001_468x263.jpg");
}
  
  
  /* ::shadow */

  .pg5{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #fff; */
    background-color: #f1f0f1;
  }
  

.right_nav h6{
  color: #fff;
  font-size: 1.5vw;
  font-family: gilroy;
  margin-right: 1vw;
  font-weight: 500;
  letter-spacing: 1px; 
  transform: translateY(-250%);
}
#navclose{
  font-size: 35px;
  color:#000;
  font-weight: 100;
  display: none;
}

/* swiper */


#reviews{
  padding: 0 5vw;
  width: 100%;
  height: 110vh;
  background-color: #e6dcdc;
  background-color: #f1f0f1;
  background-color: #fffefe;
  /* background-color: #fff; */
}
.review_top{
  width: 100%;
  padding-top: 2vh;
  height: 20vh;
  display: flex;
  margin-top: 20vh;
  align-items: flex-end;
  justify-content: flex-start;
}
.review_top h1{
  font-family: gilroy;
  font-size: 3vw;
  font-weight: 500;
}
.review_top h1 span{
  font-family: gilroy;
  font-family: "FH Giselle";
  font-size: 3vw;
  color: #f47a44;

}
.review_top .rvwbtn{
  background-color: #f47a44;
  border-radius: 5px;
  color: #fff;
  padding: 12px 20px;
  font-family: gilroy;
  font-size: 22px;
  font-weight: 100 !important;
  letter-spacing: 1px;
}

#sliderleft2 {
  z-index: 9999;
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  font-size: 30px;
  left: 40px;
}

#slideright2 {
  z-index: 9999;
  position: absolute;
  top: 50%;
  right: 5% !important;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  width: 40px;
  right: 40px;
  font-size: 30px;
  height: 40px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.rewview_btm{
  position: relative;
  /* display: flex;
  align-items: center; */
  gap:2vw;
  width: 100%;
  height: 80vh;
  overflow-x: auto;
  border-radius: 10px;
}
/* .rewview_btm::-webkit-scrollbar{
  display: none;
}
 */

.swiper {
  width: 100%;
  height: 100%;
  border-radius: 10px !important;
  position: relative;
}

.swiper .swiper-slide {
  position: relative;
  text-align: center;
  font-size: 18px;
  /* background: #fff; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px !important;
}


.swiper .swiper-slide p{
  text-align: left !important;
}



.swiper.swiper-button-next:after, .swiper-button-prev:after{
  display: none !important;
}
.swiper.swiper-button-next:after, .swiper-button-prev:after{
  display: none !important;
}





#page-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10vw 4vw;
  background-color: #fffefe;
}

#page-2-see-btn {
  padding: 10px 20px;
}

#page2-heading-text h1 {
  /* margin-top: 20px; */
  margin-left: auto;
  margin-right: auto;
  font-family: "Gilroy";
  /* width: 100%; */
  width: 70vw;
  font-weight: 600;
  padding-left: 2vw;
  /* background-color: red; */
  margin-bottom: 1vh;
  /* background-color: navajowhite; */
  font-size: 2.9vw;
  margin-left: 8vmax;
}


#page2-heading-text h3 {
  /* width: 100%; */
  width: 70vw;
  margin-left: auto;
  padding-left: 2vw;
  /* background-color: navy; */
  margin-right: auto;
  font-size: 1.7vw;
  /* margin-bottom: 20px; */
  font-weight: 400;
  margin-left: 8vmax;
  /* background-color: navy; */
}

#company-names {
  height: 20vh;
  width: 70vw;

  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}

.company-name1 {
  margin-top: 6vh;
}

.company-name2 {
  margin-top: -3vh;
  /* background-color: red; */
}

#company-names>img {
  /* height: 30px; */
  height: 10vh;
  filter: grayscale(100%);
}

#company-names #tcs {
  height: 10vh;
}

#company-names #netlink {
  height: 6.5vh;
}

#company-names #rapidops {
  height: 6.5vh;
}

#company-names #wipro {
  height: 7.2vh;
}

#company-names #gfg {
  height: 4.8vh;
}

#company-names #amazon {
  height: 6vh;
  filter: grayscale(0) !important;
}





.mostpop {
  width: 100%;
  padding: 10vh 0vh;
  background-color: #f0f0f0;
}

#newcourses {
  display: none;
}


.mpheading {
  display: flex;
  align-items: center;
  padding: 0 12vw;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 100px;
  margin-bottom: 7.8vw;
}

.mpheading h1 {
  font-size: 2.4vw;
  font-weight: 600;
  line-height: 2.2vw;
  overflow: hidden;
  font-family: "Gilroy";
}

.mpheading p {
  width: 30vw;
  font-weight: 400;
  font-family: "Gilroy";
  font-size: 1.1vw;
  line-height: 1.5vw;
}

.mpheading a {
  text-decoration: none;
  padding: .8vw 1vw;
  border: none;
  text-transform: capitalize;
  background-color: #4eb1d8;
  font-weight: 500;
  font-size: 12px;
  border-radius: 5px;
  color: #fff;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) .3s;
}

.mpheading a:hover {
  box-shadow: 4px 4px 0 0 #000;
}
#space{
  position: relative;
  width: 5vw;
  height: 35vw;
  margin-right: 30px;
  scroll-snap-align: start;
  display: inline-block;
}
#wrapper {

  position: relative;
}

.teacher:nth-child(1){
  margin-left:1vw
}
.teacher:nth-child(8){
  /* display: none; */
  margin-right:80px !important;
}
.mpcourse:nth-child(1){
  margin-left: 2vw;
}
#wrapper #sliderleft{
  left:50px

}
.mpseries {
  white-space: nowrap;
  width: 100vw;
  /* scroll-snap-type: x mandatory; */
  overflow-x: auto;
}


#mpcourses {
  display: flex;
  gap: 20px;
  
}

#mpteachers {
  background-color: #f8f8f8;
  position: relative;
  width: 100%;
  /* background-color: red; */
}

.slider {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  z-index: 9999;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.51);
  transform: translate(-50%, -50%);
  background-color: #fff;
}

#wrapper #sliderright {
  right: 20px;
}
.mpinsphoto {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url("../images/uploads/Shery Ride-logos/Shery\ Ride-logos_black.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: -10px;
}

/* #sliderleft{
   left: 30px;
} */

#sliderleft>i {
  font-size: 26px;
  font-weight: 600;
  color: rgb(121, 121, 121);
}

#sliderright>i {
  font-size: 26px;
  font-weight: 600;
  color: rgb(121, 121, 121);
}


.swiper1 {
  width: 100%;
  height: 100%;
  border-radius: 10px !important;
  position: relative;
  padding: 0 4.5vw;
}

.swiper1 .swiper-slide {
  position: relative;
  /* text-align: center; */
  font-size: 18px;
  /* background: #fff; */
  /* display: flex; */

  border-radius: 10px !important;
}


.mpcourse {
  position: relative;
  flex-shrink: 0;
  white-space: initial;
  width: 23em;
  padding: 2vw;
  border-radius: 5px;
  background-color: white;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) .3s;
  font-family: "Gilroy";
  margin: initial !important;
}

.mpphoto {
  width: 100%;
  height: 30vh;
  border-radius: 5px;
  background-color: #f3f3f3;
  margin-bottom: 20px;
  overflow: hidden;
}

.mpphoto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* object-position: center; */
  transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
}

.mpphoto img:hover {
  transform: scale(1.08);
}

.swiper1 .swiper-button-next:after, .swiper-button-prev:after{
    display: none;
}
.mpcourse p {
  font-size: 12px;
  font-weight: 500;
  margin: 10px 0;
  line-height: 16px;
  text-align: left;
}

.mpcourse h3 {
  font-weight: 600;
  text-align: left;
  font-size: 1.5vw;
}


#third {
  width: 100vw;
  display: flex;
}

#leftA {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48%;
  min-height: 60vh;
}

#leftA img {
  width: 80%;
}

#forth #leftA img {
  width: 80%;
}

.lorem {
  width: 100%;
}

#rightA {
  width: 48%;
  min-height: 60vh;
  display: flex;
  align-items: center;
  padding: 30px;
  padding-left: 10vw;
}

.lorem h1 {
  font-weight: 600;
  font-size: 40px;
  font-family: "Gilroy";
  word-spacing: 3px;
}

.lorem p {
  font-weight: 600;
  font-family: "Gilroy";
  opacity: 85%;
}

.lorem button {
  border: none;
  padding: 15px 23px 15px 23px;
  border-radius: 5px;
  background-color: #cee1fa;
  font-weight: 600;
  cursor: pointer;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
}

.lorem button:hover {
  color: white;
  background-color: #83b6f9;
}

#forth {
  width: 100vw;
  padding: 0 2%;
  display: flex;
}


#last {
  width: 100vw;
  display: flex;
  padding: 20vh 10vw;
  /* padding-bottom: 50vw; */
  justify-content: space-between;
  overflow: hidden;
}

#ek {
  width: 40vw;
  background-color: #fff;
}

#ek i {
  font-size: 40px;
}

#ek h1 {
  padding-top: 10px;
  font-weight: 600;
  padding-bottom: 20px;
}

#ek a {
  font-size: 25px;
  font-weight: 400;
  opacity: 70%;
  color: rgb(215, 161, 80);
}

#ek h4 {
  font-weight: 500;
  opacity: 80%;
  padding-top: 40px;
  color: #B8C2D2;
}


#do {
  width: 40vw;
  display: flex;
  padding-top: 0%;
  font-size: 3vw;
  line-height: 4vw;
  opacity: .3;
  font-weight: 600;
}

#one {
  width: 20vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#one h3 {
  margin-top: 120px;
  margin-bottom: 30px;
  font-size: 25px;
}

#one a {
  font-size: 17px;
  text-decoration: none;
  font-weight: 500;
  color: black;
  opacity: 80%;
  margin-bottom: 30px;
}



/* review .swiper */


#page2 {
  position: relative;
  flex-direction: column;
  padding-top: 15vh;
  padding-left: 0vw;
  font-family: gilroy;
}

#page2 h1 {
  padding-left: 8vw;
  font-size: 2.5rem;
  font-weight: 600;
}

#page2 p {
  padding-top: 10vh;
  width: 35vw;
  line-height: 4.5vh;
  font-size: 1.3rem;
  font-weight: 400;
  text-align: left;
}

#page2 p:nth-child(3) {
  padding-top: 3vh;
  font-size: 1rem;
  font-weight: 400;
}

#page2-dp #testimonial_name span {
  font-weight: 600;
}

#page2-dp {
  width: 30vw !important;
  /* display: flex; */
  align-items: center !important;
  justify-content: space-between;
  position: relative;
  padding-top: 5vw
}

.page2-dp-img img {
  border-radius: 50%;
  height: 100%;
  object-position: top;
  transform: scale(1.5);
  object-fit: cover;
  width: 100%;
}

.page2-dp-img {
  width: 80px;
  height: 80px;
  margin-right: 2vw;
  background-color: white;
  border-radius: 50%;
  overflow: hidden;
}

#selected-testimonial {
  width: 80px;
  height: 80px;

  border: 4px solid #9ad193;
}

#page3 {
  position: relative;
  padding-bottom: 40vh;
  font-family: gilroy;
}

#page3-start-background {
  height: 50vh;
  background-image: url("/images/background__9__generated.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#start-form {
  width: 50vw;
  position: relative;
  top: 60%;
  left: 30%;
}
#popup_box a:hover {
  box-shadow: 5px 5px 0px #000000ef;
  color: white;
}
#start-form input {
  backdrop-filter: blur(10px);
  background-color: rgba(235, 235, 235, 0.137);
  border: 1px solid rgba(235, 235, 235, 0.342);
  outline: none;
  padding: 18px 15px;
  margin-right: 2vw;
  color: rgb(218, 218, 218);
}

#start-form input:nth-child(1) {
  padding: 20px 20px !important;
  padding-right: 7vw !important;
}

#start-form input::placeholder {
  color: rgb(218, 218, 218);
}

#start-submit {
  background-color: white !important;
  color: rgb(52, 52, 52) !important;
  font-size: 1rem;
  font-weight: 600;
  padding-left: 2vw !important;
  padding-right: 2vw !important;
  cursor: pointer;
}


@media screen and (max-width:767px){
  #page2-heading-text h1 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 87%;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 10vw;
    -webkit-text-stroke: 0.8px;

}

#page2-heading-text h3 {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    font-size: 5vw;
    margin-bottom: 20px;
    font-weight: 400;
}

#company-names {
    /* height: 22vh; */
    height: auto;
    margin-left: auto;
    margin-right: auto;
    /* background-color: red; */
    width: 85vw;
    margin-right: 8vmax;
    /* background-color: red; */
    margin-top: 4vh;
}
.company-name2{
  margin-right: 5vmax;
}
#company-names>img {
    /* height: 30px; */
    height: 5vw;
    filter: grayscale(100%);
}

#company-names #tcs {
    height: 9vw;
}

#company-names #netlink {
    height: 7vw;
}

#company-names #rapidops {
    height: 7vw;
}

#company-names #wipro {
    height: 9vw;
}

#company-names #gfg {
    height: 5vw;
}

#company-names #amazon {
    height: 7vw;
    filter: grayscale(0) !important;
}
.pg2{
  flex-direction: column;
}
.pg2-left{
  width: 100%;
  height: 50vh;
}
.pg2-left h1{
  font-size: 13vw;
  margin-left: 4vw;
}
.pg2-left h6{
  font-size: 3vw;
  margin-left: 4vw;
}
.lmbtn i{
  font-size: 3vw;
}
.pg2-right{
  width: 100%;
}
.mpheading {
  flex-direction: column;
  align-items: flex-start;
}

* .mpheading h1 {
  font-size: 8.4vw;
  font-weight: 400;
  -webkit-text-stroke: 0.8px;
  font-family: "Gilroy";
  line-height: 8.4vw;
}

.mpcourse h3 {
  font-weight: 500;
}

.mpheading p {
  width: 100%;
  font-size: 3.7vw;
  margin: 2vh 0;
  font-weight: 300;
  line-height: 4.7vw;
}

.mpcourse p {
  font-weight: 400;
}
.lmbtn{
  margin-left: 2vmax;
  margin-bottom: 8vmax;
}
.lmbtn i{
  font-size: 4vw;
}
.lmbtn small{
  font-size: 4vw;
}
.scroll_h{
  align-items: flex-end;
}
.scroll_h h1 {
  font-size: 30vw;
  font-weight: 600;
}
.mpheading a{
  font-size: 14px;
  margin-top: 1.5vmax;
  padding:1.4vmax 3vmax !important;
}
swiper1 .swiper-slide{
  /* width: 100vw; */
  background-color: teal;
}
.mpcourse{
  /* width: 80vw; */
  font-size: 14px;
    width: 25em;
    flex-shrink: 0;
}
.mpcourse h3{
  font-size: 7vw;
}
.hover_line{
  overflow: initial;
}
.mpcourse p{
  font-size: 16px;
  line-height: 5.5vw;
}
.mostpop{
  padding-bottom: initial;
}
#sliderright{
  /* left: 15%; */
}
.mpcourse h6{
  font-size: 1.5rem;
}
#part5-center-text h1{
  font-size: 60px;
  letter-spacing: 2px;
}
.review_top {
  height: 15vh;
}
.review_top h1{
  font-size: 13vw;
}
.rewview_btm{
  height: 65vh;
}
#reviews{
  height: 90vh;
}
#slideright2{
  top: 90%;
}
#sliderleft2{
  top: 90%;
  right: 70% !important;
  margin-left: 65vw !important;
}

.pg3{
  height: 30vh;
}
.pg3 h1{
  font-size: 9vw;
}
.overlay .content_vid{
  padding-right: initial;
  width: 100%;
  margin-right: 20px;

}
.overlay .video_div {
  height: 50%;
  padding-right: initial;
}
}

#sliderleft2 i{
  color: #000;
}
#slideright2 i{
  color: #000;
}